$bodyBackgroundColor: #f65; // Change the background color of the body
$BasicTextColor: #fff; // Change the text color, includding timer
$fontSize: 1.5rem; // Change the font size, includding timer
$fontFamily: sans-serif; // Change the font family 